@import 'primeicons/primeicons.css';
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#495b69;
}
html {
  position: relative;
  height: 100%;
}

body {
 margin:0;
}

.footer {
  position: absolute; 
  bottom: 0;
  text-align: center;
  width: -webkit-fill-available;
  height: 15vh;
  background-color: #c2d1f0;
  color:#495b69;
}

.header{
  position: relative;
  width:-webkit-fill-available;
  height: auto;
  background-color: #c2d1f0;
  margin-bottom: 2%;
  display: inline-flex;
  padding: 2vh 2vw;
  /* justify-content: space-between; */
}

.header img{
  margin-left: 2%;
}

/* .header .logo{
  display:inline-flex;
  width: 70%;
} */

button{
  border-color: gray;
  border-radius: 3px;
  background: white;
  padding: 0.5%;
  font-size: medium;
  font-weight: 600;
}

/* .header .home{
  display:flex;
  align-items: end;
}

.header .home button{
  padding:0;
  border: none;
  background:none;
  color: #536878;
  cursor: pointer;
  z-index: 1;
} */

.header h1{
  margin: 0%;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-bottom: 2vh;
  text-align: left;
  color: #536878;
}

.mySpan {
    text-decoration: underline;
  }
  
  .card {
    display: none;
  }
  
  .mySpan:hover + .card {
    display: block;
    position: absolute;
  }

  .entitySpan{
    background-color: #D0D0D0;
    cursor: pointer;
  }

  p-dialog div.p-dialog.p-component{
    width:11rem!important;
    min-height: 20vh!important;
    padding: 0.5rem!important;
    background-color: lightgoldenrodyellow;
  }

  .p-tabview.p-component{
    min-width: 20vw;
  }

  .p-dialog-header-icons button.p-dialog-header-close{
    border:none!important;
    background: none!important;
  }

  .p-tabview-nav li{
    padding: 3px;
    border: #495b69 solid 1px;
    border-bottom:none;
    margin-right: 3px;
   font-weight:800;
  }

  .p-tabview-nav li.p-highlight{
    background-color: lavender;
  }

  .p-tabview-panels{
    padding-top:10px;
    background:lavender;
    border-bottom: #495b69 solid 0.5px;
    border-left: #495b69 solid 0.5px;
    border-right: #495b69 solid 0.5px;
  }

  p-tabpanel div.p-tabview-panel{
    overflow-y:auto;
    min-height: 48.5vh;
    max-height: 48.5vh;
  }

  p-tabpanel div span{
    display:block!important;
  }

  div.p-tabview-panel span{
    padding-bottom: 3px;
  }