<header class="header">
    <div class="logo">
        <img src="../assets/images/logo3.png" alt="image">
        <h1>Flying Digital Editions</h1>
    </div>
  <div class="home">
      <button routerLink="/">Go to Loading Page</button>
  </div>
</header>
<router-outlet></router-outlet>
<footer class="footer">
    <div style="padding-left: 3vw; font-size:small">
        <p>Alma Mater Studiorum - Università di Bologna</p>
        <p>Sara Vellone - 2024</p>
        <p><a>About FDE</a> / <a><i class="pi pi-github"></i></a></p>
    </div>
</footer>