/* .col-md-auto{
    text-align: center;
}

h1{
    text-align: center;
}

.bookMode{
    background-color: beige;
    padding: 5%;
    float: left;
} */

.row {
    display: flex;
  }

.row.explanation{
  justify-content: center;
}
  
  .col-md-auto {
    margin: 10px; 
    padding: 10px; 
    border: 1px solid #ccc;
  }

  .spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: auto; 
  }
  
  .col-md-auto.bookMode {
    flex-grow: 1;
    text-align: justify;
    padding: 5%;
    max-height: 70vh;
    overflow-y: auto;
  }

  .addButton{
    text-align: center;
  }

  .addButton button{
    padding: 2vh;
    cursor: pointer;
  }
  
  .mySpan {
    cursor: pointer;
  }
  
  #spanContainer {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }

  .saveButton{
    justify-content: center;
    z-index: 999;
  }

  .row.saveButton{
    justify-content: center;
    visibility: visible;
  }
  
  