<div class="row">
  <!-- Left column for the list of spans -->
  <div class="col-md-auto" *ngIf="!loading === true">
    <div>
      <button (click)="addNewSpan()">Add new entity</button>
    </div>
    <div *ngFor="let fragment of textFragmentsList" id="spansList">
      <span *ngIf="fragment.type === 'span'">
        <span class="mySpan" (click)="handleSpanClick(fragment.data)">{{ fragment.text }}</span>
      </span>
    </div>
  </div>

  <div class="col-md-auto" *ngIf="loading === true">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <!-- Right column for the main content with class bookMode -->
  <!-- Right column for the main content with class bookMode -->
 <!-- Right column for the main content with class bookMode -->
<div class="col-md-auto bookMode" *ngIf="!loading === true"  (mouseup)="highlightAndOpenCard($event)">
  <div #formattedTextWrapper>
    <ng-container *ngFor="let fragment of textFragments">
      <span *ngIf="fragment.type === 'text'">{{ fragment.text }}</span>
      <span *ngIf="fragment.type === 'span'" class="mySpan">{{ fragment.text }}</span>
    </ng-container>
  </div>
</div>

  <!-- Span container -->
<div #spanContainer></div>
</div>

<div class = "row saveButton">
  <button *ngIf="!spansSaved && !loading === true" [routerLink]="['../view']" (click)="saveText()">Save Spans</button>
</div>
