.editDiv{
  max-height: 65vh;
  overflow-y: auto;
}
.row {
    display: flex;
    max-height: 50vh;
  }

.row.explanation{
  justify-content: center;
}
  
.col-md-auto {
  margin: 10px; 
  padding: 10px; 
  border: 1px solid #ccc;
  width: 20vw;
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50vh;
  min-height: 50vh;
  overflow-y: hidden;
  width: auto; 
}

.col-md-auto.bookMode {
  flex-grow: 1;
  text-align: justify;
  padding: 5%;
  max-height: 36.5vh;
  overflow-y: scroll;
  max-width: 50vw;
  position: sticky;
}

.col-md-auto.listSpan{
  position:sticky;
  top: 0;
  left: 0;
  width:20vw;
  max-height: 50vh;
  overflow-y: auto;
}

#book{
  line-height: 1.3;
  /* width: 45.5vw; */
}
.addButton{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 21vw;
  margin-left: 10px;
}

.addButton button{
  padding: 1vh;
  cursor: pointer;
  margin-top: 5px;
}

.mySpan {
  cursor: pointer;
}

ol{
  padding: 0;
}
li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

li .pi.pi-pencil{
  margin-right: 50%;
  margin-left: -40%;
  cursor: pointer;
}

.pi.pi-trash{
  cursor: pointer;
}

li .edit-icons{
  display: flex;
}
#spanContainer {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.saveButton{
  justify-content: center;
  z-index: 999;
}

.row.saveButton{
  justify-content: center;
  visibility: visible;
}

  