<div class="explanation" *ngIf="!loading === true">
  <div class="col-md-12 d-flex justify-content-center align-items-center">
  <p>To <b>add</b> a new entity select the word and then click on the "Add new entity" button. Provide a <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target="_blank">Wikidata</a> ID and choose the Class. Then click on "Update".
  <br/>
  To <b>modify</b> the ID and the Class of an entity, click on the corresponding pencil icon in the list and update the entity.
  <br/>
   To <b>save</b> and visualise the result, click on the "Save" button.</p>
</div>
</div>

<div class="spinner" *ngIf="loading === true">
  <div class="col-md-12 d-flex justify-content-center align-items-center">
    <p>Please wait, text analysis in progress...</p>
  <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="addButton" *ngIf="!loading">
  <div class="col-auto d-flex" style="width: 50%;">
    <button (click)="addNewSpan()" style="margin-right: 1%;">Add new entity</button>
    <button (click)="showDialogMetadata()">Add Metadata</button>
  </div>
  <div class="col-auto justify-content-end d-flex" style="width: 50%;">
    <button *ngIf="!spansSaved && !loading === true" [routerLink]="['../view']" (click)="saveText()" style="margin-right:1%">Save</button>
  </div>
  <p-dialog [(visible)]="dialogVisible" [style]="{width: '55vw'}">
    <label>Title</label>
    <input type="text" pInputText [(ngModel)]="titleValue" />
    <label>Author</label>
    <input type="text" pInputText [(ngModel)]="authorValue" />
    <button (click)="createMetadata()">Add</button>
  </p-dialog>
</div>
<div class="d-flex">
  <div class="col-md-3 listSpan" *ngIf="!loading">
    <ol>
      <ng-container *ngFor="let item of fragList">
        <li>
          <span [attr.data-identifier]="item.ID">{{ item.Name }}</span>
          <span class="edit-icons">
          <i class="pi pi-pencil" (click)="handleSpanClick(item)"></i>
          <i class="pi pi-trash" (click)="deleteEntity(item)"></i>
          </span>
        </li>
      </ng-container>
    </ol>    
  </div>
  <div class="col-md-3 bookMode" *ngIf="!loading"  (mouseup)="highlightAndOpenCard($event)">
    <div [innerHtml]="editableText" id="book"></div>
  </div>
  <div #spanContainer></div>
</div>