.row{
    display: flex;
    max-height: 55vh;
    overflow:auto;
}

.summaryPanel{
    margin-left:2.5rem;
}

.viewMode{
    flex-grow: 1;
    /* display: flex; */
    border: 1px solid gray;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 40vw;
    padding: 5% 3% 3% 3%;
    text-align: justify;
    max-height: 55vh;
    overflow:auto;
}
