.row{
    display: flex;
    max-height: 55vh;
    overflow:auto;
}


.viewMode{
    flex-grow: 1;
    /* display: flex; */
    border: 1px solid gray;
    margin-left: 7%;
    margin-right: 7%;
    max-width: 50vw;
    padding: 5% 3% 3% 3%;
    text-align: justify;
    max-height: 55vh;
    overflow:auto;
}
