<div class="card" *ngIf="cardOpen">
  <i class="pi pi-times" (click)="close()"></i>
  <div>
    <p>Entity: {{text}} </p>
    <p>ID: <input [(ngModel)]="dataId"></p>
    <a href="https://www.wikidata.org/wiki/{{dataId}}" target="_blank">Check in Wikidata</a>
    <p>Class:
      <select [(ngModel)]="dataClass">
        <option *ngFor="let option of classArray" [value]="option">{{ option }}</option>
      </select>
    </p>
    <p *ngIf="dataList.length > 0">Candidates ID:
      <select [(ngModel)]="dataId">
        <option *ngFor="let value of dataList" [value]="value" >{{ value }}</option> 
      </select>
    </p>
    <button (click)="updateSpanData()">Update</button>
  </div>
</div>
