.row.files-upload{
  display:inline-flex;
  margin-bottom:10px;
  justify-content: space-around;
  width:100vw;
}

h2{
  text-align: center;
  color: #495b69;
}

.center{
    text-align: center;
    z-index: 1;
    position: relative;
}

textarea{
  resize: none;
}

.split{
  height: 55vh;
  width: auto;
  display: inline-flex;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  top: 55%;
  left: 50%;
  text-align: center;
  width:25rem;
}

.centered label{
  border: 2px solid #495b69;
  padding: 0.5%;
  border-radius: 3px;
  cursor: pointer;
}

.disabledButton{
  background-color:lightgray;
}

