.row.files-upload{
  display:inline-flex;
  justify-content: space-around;
  width: 100%;
}

h2{
  text-align: center;
  color: #495b69;
}

textarea{
  resize: none;
}

.split{
  height: 55vh;
  width: auto;
  display: inline-flex;
}

.left {
  left: 0;
}

@media screen and (max-width: 1200px) {
  .left {
    height: 30vh;
  }
}

.right {
  right: 0;
  height: 30vh;
}

.centered {
  top: 55%;
  left: 50%;
  text-align: center;
  width:25rem;
}

.centered label{
  border: 2px solid #495b69;
  padding: 0.5%;
  border-radius: 3px;
  cursor: pointer;
}

.disabledButton{
  background-color:lightgray;
}

.button-header{
  margin-left:2%;
  margin-bottom: 2%;
}