.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 55vh;
  max-height: 60vh;
}

h2{
  text-align: center;
  color: #495b69;
}

.center{
    text-align: center;
    z-index: 1;
    position: relative;
}

textarea{
  resize: none;
}

.split {
  height: 70%;
  width: 50%;
  position: absolute;
  top: 0;
  overflow-x: hidden;
  /* padding-top: 20px; */
  display: inline-block;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centered label{
    border: 2px solid #495b69;
    padding: 0.5%;
    border-radius: 3px;
    cursor: pointer;
  }
  button{
    border-color: gray;
    border-radius: 3px;
    background: white;
    padding: 0.5%;
    font-size: medium;
    font-weight: 600;
  }
  